html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Readex Pro', sans-serif;
  background: #F2FBF6;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}